<div class="columns is-centered is-mobile">
  <div class="column container is-two-thirds-tablet is-half-desktop">
    <div id="clearance" class="sign-in">
      <h2 class="title"><%= t(".title") %></h2>

      <%= render partial: '/sessions/form' %>
    </div>
  </div>
</div>
