Push Notification Registrations

<div data-controller="push-registration" data-vapid-public-key="<%= @vapid_public_key %>">
  <button class="button" data-action="push-registration#register">Register</button>
</div>
